.instructionPage {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #ffff, $alpha: 0.7);
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  & .upperSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    & .title {
      font-weight: 800;
      margin: 21px;
      color: #2c413d;
    }
    & .close {
      position: absolute;
      right: 25.8px;
      width: 28px;
      height: 28px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  & .container {
    // margin: 0 auto;
    text-align: start;
    & .section {
      display: flex;
      align-items: center;
      margin: 20px;
      & .icon {
        width: 48px;
        height: 48px;
        vertical-align: middle;
      }
      & .textArea {
        margin-left: 12px;
        & .introduce {
          margin-top: 4px;
          width: 100%;
        }
      }
    }
    & > :first-child {
      & .icon {
        transform: scale(1.3);
      }
    }
  }
}
